{% extends 'base.html.twig' %}

{% block stylesheet %}
	<link href="{{ asset('styles/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<h1 class="titulo d-flex justify-content-center mt-5 pb-4">Compra realizada con éxito</h1>
<div class="d-flex justify-content-center pt-4 pb-4">
	<a href="{{ path('app_home')}}"><button class="btn btn-danger me-2">Volver al inicio</button><a>
	<a href="{{ path('usuario_vista_pedidos')}}"><button class="btn btn-danger ms-2">Ver pedidos</button><a>
</div>
{% endblock %}