/*Navegación*/
.icono{
    font-size: 2rem;
    margin-right: 1rem;
    color: black;
    padding: 0% !important;
}

nav li a {
    text-decoration: none;
    color: black;
    font-family: "Assistant" !important;
}

.lupa {
    font-size: 1.5rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.vr {
    margin-left: 2rem;
    margin-right: 2rem;
}

.hr {
    color: black;
}

.botonCuenta {
    margin-top: 0.2rem;
}

.menu2 {
    background-color: rgba(255, 0, 0, 0.808);
}

.menu2 i {
    color: white;
}

.oculto {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.logo {
    width: 15rem;
    margin-top: -60px;
    background-color: rgba(255, 0, 0, 0.808);
    padding: 1rem;
    border-radius: 60%;
}

.dropDownLogos {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.menu2 a {
    color: white !important;
    font-size: 1.5rem;
}

.menu1 .nav-item {
    font-size: 1.5rem;
}

.menu2 .dropdown-item {
    color: black !important;
}

.menu2 .btn {
    background-color: black;
}

.menu2 .btn:hover {
    background-color: rgb(66, 66, 66);
}

.botonConversacion {
    font-size: 2rem;
    margin-left: 5rem;
    color: black;
}

/*Sección presentación*/
.seccionPresentacion .card {
    border-right: 5px solid rgba(255, 0, 0, 0.808);
    border-bottom: 5px solid rgba(255, 0, 0, 0.808);
    border-left: none;
    border-top: none;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 10%;
    color: black;
    padding: 2rem;
    font-family: "Assistant" !important;
}

.seccionPresentacion .card img {
    border-radius: 5%;
}

/*Sección foro*/
.seccionForo .card {
    border-style: none;
    font-family: "Assistant" !important;
}

.seccionForo li {
    transition: all 0.5s ease;
    padding-top: 1.5rem;
}

.seccionForo li:hover {
    background-color: rgb(209, 208, 208);
}

.seccionForo li:hover>p {
    visibility: hidden;
    display: none;
}

.enlaceForo {
    visibility: hidden;
    display: none;
}

.seccionForo li:hover>.enlaceForo {
    visibility: visible;
    display: contents;
    font-weight: bolder;
    color: black;
}

/*Equipos*/
.catalogo2 img {
    width: 80%;
    height: 80%;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    transition: all 0.2s ease;
    border-radius: 13%;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Assistant" !important;
}

.overlay h3 {
    font-weight: bold;
    margin-bottom: 0;
}

.categoria {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.categoria:hover img {
    opacity: 0.2;
}

.categoria:hover .overlay {
    opacity: 1;
}

/*Escalas*/
.sliderImagenCatalogo {
    width: 300px;
    height: 200px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    width: 700px;
}

/* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: rgb(36, 35, 35);
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px;
    width: 100%;
    height: 100%;
    font-family: "Assistant" !important;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid black;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: rgba(255, 0, 0, 0.808);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255, 0, 0, 0.808);
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.listaSliderProductos {
    list-style-type: none;
    position: relative;
}

.productoItem {
    margin: 20px;
    width: 50%;
}

.catalogo3 .carousel {
    width: 100%;
    max-height: 575px;
}

.catalogo3 .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

/*Footer*/
.footer {
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: -1rem;
    background-color: rgb(36, 35, 35);
    color: white !important;
    font-family: "Assistant" !important;
}

.footer i {
    color: white;
    font-size: 1rem;
}

.footer a  {
    color: white;
}

.footer p {
    font-size: 0.75rem;
}

.footer li {
    font-size: 0.75rem;
}

.footer a:hover  {
    color: rgba(255, 0, 0, 0.808);
}

.footer .btn {
    background-color: rgba(255, 0, 0, 0.808) !important;
    color: white !important;
}

/*General*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.titulo {
    margin-bottom: 3rem;
    font-family: "Exo2";
}

.carousel .carousel-indicators button {
    background-color: rgb(36, 35, 35);
}

.carousel i {
    color: rgba(255, 0, 0, 0.808);
    font-size: 2rem;
}

/*Medias query*/
@media screen and (max-width:767px) {
    .menu1 {
        display: none;
        visibility: hidden;
        padding: 0px;
        margin: 0px;
        width: 0px;
        height: 0px;
    }

    .menu2 {
        margin-top: -20px;
    }

    .oculto {
        visibility: visible;
        height: auto;
        width: auto;
    }

    .logo {
        margin: 5px;
    }
}

@media screen and (max-width:1320px) {
    .overlay h3 {
        font-size: 1rem;
    }

    .overlay h6 {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:400px) {
    ul.timeline {
        width: 100px;
    }

    .productoItem {
        margin: 20px;
        width: 20%;
    }
}

@media screen and (max-width:1000px) {
    ul.timeline {
        width: 400px;
    }

    .catalogo3 .carousel {
        max-height: 275px;
    }

    .sliderImagenCatalogo {
        width: 250px;
        height: 150px;
    }
}